@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINIGIGS</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/header_footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <img src="~/sourse/index_img/logos.png" alt="MINIGIGS Logo" class="logo__img">
                    <h1 style="font-size: 24px">БИРЖА ЗАДАЧ</h1>
                    <h2 style="font-size: 16px">В области социального продвижения и маркетинга</h2>
                </div>
                <div class="col links">
                    <a class="btn btn-outline-light mt-2" asp-controller="Home" asp-action="Authorization">
                        <i class="fas fa-lock"></i> ВХОД
                    </a>
                    <a class="btn btn-outline-light mt-2" asp-controller="Home" asp-action="Registration">
                        <i class="fas fa-users"></i> РЕГИСТРАЦИЯ
                    </a>
                </div>
            </div>
        </div>
         <div class="container"> 
            <div class="actions row justify-content-center">
                <div class="col">
                    <ul class="button-list">
                        <li>
                            <a class="vhod-link" asp-controller="Home" asp-action="Authorization"><button class="round-button">ЗАКАЗЧИКУ</button></a>
                        </li>
                        <li>
                            <a class="vhod-link" asp-controller="Home" asp-action="Authorization"><button class="round-button">ИСПОЛНИТЕЛЮ</button></a>
                        </li>
                    </ul>
                </div>

                <ul class="actions__list col">
                    <li class="actions__item">
                        <img src="~/sourse/index_img/galkawhite.png" alt="Icon Enter" class="actions__icon">
                        Продвижение в социальных сетях:<br>
                        подписчики в группы, лайки, репосты
                    </li>
                    <li class="actions__item">
                        <img src="~/sourse/index_img/galkawhite.png" alt="Icon Enter" class="actions__icon">
                        Любые произвольные задачи, которые <br>
                        нужно выполнять на регулярной основе
                    </li>
                    <li class="actions__item">
                        <img src="~/sourse/index_img/galkawhite.png" alt="Icon Enter" class="actions__icon">
                        Наполнение сайтов: комментарии, отзывы,<br>
                        форумы, доски объявлений
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <section class="second-block">
        <div class="container">
            <ul class="second-list">
                <li><img src="~/sourse/index_img/jobIndex.png" alt="Иконка 1">Активные пользователи </li>
                <li><img src="~/sourse/index_img/garantiimen.png" alt="Иконка 2">Выполнено заданий</li>
                <li><img src="~/sourse/index_img/goodIndex.png" alt="Иконка 3">Положительные отзывы</li>
            </ul>
        </div>
    </section>   

    <section class="third-block">
        <div class="container">
            <div class="row justify-content-cente">

                <div class="col list-container">
                    <h2 class="list-title">ЗАКАЗЧИКУ</h2>
                    <ul class="zakazchic-list">
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 1">Гарантия: вы платите только за <br>
                            выполненную работу
                        </li>
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 2">Только живые люди: наши исполнители не <br>
                            роботы, каждый из них прошёл верификацию</li> 
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 3">Скорость: возможность получать сотни и даже <br>
                            тысячи выполнений в сутки
                        </li>
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 4">Низкие цены — от 1 руб за выполнение<br>
                            самого простого задания
                        </li>
                    </ul>
                </div>
                <div class="col list-container">
                    <h2 class="list-title">ИСПОЛНИТЕЛЮ</h2>
                    <ul class="ispolnitel-list">
                        <li><img src="~/sourse/index_img/galkablack.png" alt="Иконка 5">Работайте в любое удобное время</li>
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 6">Зарабатывайте, общаясь на форумах<br>
                            или просматривая видео
                        </li>
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 7">Делитесь постами, ставьте «лайки»,<br>
                            вступайте в группы в социальных сетях
                        </li>
                        <li>
                            <img src="~/sourse/index_img/galkablack.png" alt="Иконка 8">Зарабатывайте на заданиях биржи<br>
                            комментариев, комментируя материалы<br>
                            на сайтах и публикуя контент
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="fourth-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <img class="img-fluid" src="~/sourse/index_img/menIndex.png" alt="Большая картинка">
                </div>
                <div class="col listwork-container">
                    <h2 class="fourth-list-text">КАК РАБОТАЕТ MINIGIGS?</h2>
                    <ul class="fourth-list">
                        <li><img src="~/sourse/index_img/iconsElips1.png" alt="Иконка 1">Регистрируетесь на сайте за 30 секунд</li>
                        <li>
                            <img src="~/sourse/index_img/iconsElips2.png" alt="Иконка 2">Добавляете задание и оплачиваете<br>
                            необходимое количество работ
                        </li>
                        <li>
                            <img src="~/sourse/index_img/iconsElips3.png" alt="Иконка 3">Получаете результат и проверяете <br>
                            выполненные работы
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer footer-index bg-purple text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="footer-index-container-logo">
                        <img src="~/sourse/index_img/logos.png" alt="Логотип сайта">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-links">
                        <a class="links-footer-index-text" asp-controller="Home" asp-action="AboutProject">О проекте</a>
                        <a class="links-footer-index-text" asp-controller="Home" asp-action="SupportService">Служба поддержки</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="footer-index-text">© MINIGIGS 2024. Сайт может содержать материалы для лиц старше 18 лет</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var linkToCabinet = document.querySelector('.user-cabinet-link');

            linkToCabinet.addEventListener('click', function (e) {
                e.preventDefault(); // Предотвращаем стандартный переход по ссылке
                var userRole = localStorage.getItem('userRole');

                if (userRole === '1') {
                    window.location.href = '/Home/CustomerOffice';
                } else if (userRole === '2') {
                    window.location.href = '/Home/ExecutorOffice';
                } else {
                    // Если роль не определена, можно перенаправить на страницу входа или показать сообщение
                    alert('Пожалуйста, выполните вход.');
                }
            });
        });
    </script>

<script src="~/js/userProfile.js"></script></body>
